<footer class="footer">
  <div class="section">
    <div class="footer--styles">
      <div class="footer--socials">
        <a href="{{ site.github}}" target="_blank">{% include github.html %}</a>
        <a href="{{ site.linkedin }}" target="_blank">{% include linkedin.html %}</a>
        <a href="mailto:{{ site.email }}">{% include email.html %}</a>
      </div>
      <div class="footer--copyright">
        <p class="text-sm">©2024 {{ site.title }}</p>
        <p class="text-sm">All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>