<div id="heading" aria-labelledby="#page-title" class="section section--heading relative">
  <div class="section__styles">
    <div class="section__content text-wrap self-center">
      <h1 id="page-title" class="section__title">
        {{ page.header }}
      </h1>
      <p class="section__text">{{ page.subheader }}</p>
    </div>
    <div class="section__image">
      <img alt="" loading="lazy" width="200" height="200" decoding="async" data-nimg="1"
          sizes="(min-width: 1024px) 18rem, (min-width: 768px) 16rem, 11rem"
        src="{{ site.baseurl }}/assets/images/mugshot.jpg" />
    </div>
  </div>
</div>