<header class="header">
  <div class="section">
    <div class="section--logo">
      <a aria-label="home" href="{{ site.baseurl }}">
        <img alt="logo"
          fetchpriority="high" width="200" height="200" decoding="async" data-nimg="1"
          class="w-auto h-20"
          style="color:transparent"
          src="{{ site.baseurl }}/assets/images/dplogo.png" />
      </a>
    </div>
    <div class="nav__wrapper">
      <nav>
        <a class="button" href="{{ site.baseurl }}/#interests">interests</a>
        <a class="button" href="{{ site.baseurl }}/#skills">skills</a>
        <a class="button" href="{{ site.baseurl }}/#current">xp</a>
        <a class="button button--cv__sm" target="_blank" href="{{ site.baseurl }}/files/DonovanPalmersResume2021.pdf">cv</a>
        <a class="button button--cv__md" href="{{ site.baseurl }}/cv">cv</a>
      </nav>
    </div>
  </div>
</header>